body {
    background-color: #f1f1f1;
  }

  li {
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
  }

  button {
    cursor: pointer;
  }

  .edit-button,
.delete-button {
  background-color: #af4c4c; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #8e3e3e;
}

.white {
    background-color: white;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: rgb(91, 91, 235);
  }
  
  .pink {
    background-color: pink;
  }

  #notes-list {
    list-style-type: none;
    padding: 0;
  }
  
  .note-title {
    margin: 0;
    padding: 10px;
  }
  
  .note-content {
    margin: 0;
    padding: 10px;
  }
  
  .note-date {
    margin: 0;
    padding: 10px;
  }
  
  .edit-button,
  .delete-button {
    margin: 10px;
    padding: 10px;
  }
  
  .pinned {
    background-color: #f1f1f1;
  }